body {
    max-width: 767px;
    background-color: #000000;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

.shimmer-effect {
    background: linear-gradient(90deg, #cecece 25%, #e0e0e0 50%, #cecece 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite;
    border-radius: 8px;
}

@keyframes shimmer {
    0% {
        background-position: -200% 0;
    }

    100% {
        background-position: 200% 0;
    }
}

/* .blur-container {
    padding: 16px;
    position: relative;
    overflow-y: visible;
}

.blur-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -70px;
    background-size: cover;
    background-position: center;
    filter: blur(20px);
    z-index: -1;
    opacity: 0.6;
    background-image: var(--blurred-background);
}

#image-container.content {
    z-index: 1;
} */

#image-container.content.shimmer-effect {
    width: 100%;
    height: 320px;
}

#event-payment .content {
    height: 20px;
}

#total-attendees.content.shimmer-effect {
    width: 20%;
    margin: 0;
}

#reviews-carousel .swiper-slide.content.shimmer-effect {
    width: 90%;
}

.attend-info.content.shimmer-effect {
    height: 20px;
    width: 20%;
}

h2.shimmer-effect,
h3.shimmer-effect,
p.shimmer-effect,
span.shimmer-effect {
    width: 100%;
    height: 20px;
    display: inline-block;
}

h2.content.shimmer-effect,
h3.content.shimmer-effect,
p.content.shimmer-effect,
div.content.shimmer-effect {
    margin-bottom: 10px;
}

.header {
    padding: 16px 20px 24px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #43404F;
    background-color: #26242E;
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: 141318;
}

.header h2 {
    margin: 0;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}

.header button {
    font-size: 16px;
    font-style: 600;
    border: 1px solid #43404F;
    background-color: transparent;
    color: #fff;
    width: 87px;
    height: 40px;
    padding: 0px;
    border-radius: 8px;
}

#main-carousel .item {
    height: 320px;
}

#main-carousel .item img {
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.event-info {
    padding: 16px;
}

/* #main-carousel .owl-stage-outer {
    margin-right: -15px;
} */

.event-description {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.event-description h2 {
    margin: 0;
    color: #fff;
    font-size: 22px;
    font-weight: 700;
}

.event-review span {
    color: #DAFF00;
}

.event-review {
    display: flex;
}

.event-review p {
    margin: 0;
    padding-left: 5px;
    color: #fff;
    font-size: 14px;
}

.event-review p:nth-child(3) {
    color: #C2C2C2;
    padding-left: 10px;
}

.event-card {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 0;
    border-bottom: 1px solid #2F2D36;
}

.event-date {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.event-date h3 {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}

.event-date a {
    color: #00C13E;
    font-size: 10px;
    font-weight: 400;
}

.host-container {
    background-color: #1F1E24;
    padding: 12px;
    border-radius: 12px;
    margin-top: 16px;
}

.host-info {
    display: flex;
    gap: 12px;
    border-bottom: 1px solid #2F2D36;
    padding-bottom: 8px;
    align-items: center;
}

.host-circle {
    width: 32px;
    height: 32px;
    border-radius: 20px;
    overflow: hidden;
}

.host-circle img {
    width: 100%;
}

.host-title {
    flex-grow: 1;
    gap: 2px;
    display: flex;
    flex-direction: column;
}

.host-title h3 {
    font-size: 12;
    font-weight: 400;
    color: #C2C2C2;
}

.host-title h2 {
    font-size: 14;
    font-weight: 600;
    color: #fff;
}

.host-info a {
    background-color: #fff;
    color: #141318;
    font-size: 13px;
    font-weight: 700;
    padding: 8px 24px;
    border-radius: 64px;
}

.host-more-info {
    display: flex;
    flex-direction: row;
    padding: 8px 0 0 0;
    gap: 4px;
}

.host-more-info a {
    color: #DAFF00;
    font-size: 12px;
    font-weight: 400;
}

.event-accordion {
    color: #fff;
    border: none;
    outline: none;
    transition: 0.4s;
}

.panel {
    padding: 2px 0 20px 5px;
    overflow: hidden;
    position: relative;
}

.accordion-container {
    border-bottom: 1px solid #2F2D36;
}

.event-accordion .accordion {
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: left;
    display: flex;
    align-items: center;
}

.event-accordion .accordion h2 {
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    flex-grow: 1;
    line-height: 24px;
}

.btn-padding {
    padding-bottom: 20px;
}

.panel p {
    font-size: 14px;
    color: #DADADA;
    font-weight: 400;
    line-height: 22px;
    white-space: pre-wrap;
}

.read-more-btn {
    font-size: 14px;
    font-weight: 400;
    background: none;
    border: none;
    color: #fff;
    padding: 2px 0 0 0;
    cursor: pointer;
    text-decoration: underline;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.attendees-container {
    padding: 16px 0 18px 0;
    border-bottom: 1px solid #2F2D36;
}

.attendees-header {
    display: flex;
    align-items: center;
}

.attendees-header h2 {
    font-size: 16px;
    color: #fff;
    font-weight: 600;
}

.attendees-header p {
    font-size: 12px;
    font-weight: 500;
    color: #736F80;
}

.attendees-header a {
    font-size: 12px;
    font-weight: 700;
    color: #fff;
}

.attendees-title {
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: 4px;
}

.attendees-content {
    padding: 16px 0;
    display: flex;
    flex-direction: row;
    gap: 12px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.attendees-content.align-left {
    justify-content: flex-start;
}

a[href^="http://maps.google.com/maps"] {
    display: none !important
}

a[href^="https://maps.google.com/maps"] {
    display: none !important
}

.gmnoprint a,
.gmnoprint span,
.gm-style-cc {
    display: none;
}

.gmnoprint div {
    background: none !important;
}

#error-container {
    color: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 40;
    text-align: center;
}

.attendees-circle {
    width: 48px;
    height: 48px;
    border-radius: 26px;
    overflow: hidden;
}

.attendees-circle img {
    width: 100%;
}

.attendees-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 20%;
}

.attendees-card h3 {
    font-size: 12px;
    font-weight: 400;
    color: #fff;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
}

.reviews-container {
    padding: 16px 0;
    border-bottom: 1px solid #2F2D36;
}

.reviews-header {
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
}

.reviews-title {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.reviews-header .reviews-title:nth-child(2) img {
    width: 6px;
}

.reviews-title h3 {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

.reviews-title h2 {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}

.reviews-content {
    padding: 16px 0;
}

#reviews-carousel p {
    font-size: 14px;
    font-weight: 400;
    color: #c2c2c2;
    padding-bottom: 6px;
    line-height: 18px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    flex-grow: 1;
}

.reviews-container #reviews-carousel .reviews-show-more {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}

.host-reviews-info {
    display: flex;
    gap: 8px;
    padding: 16px 0 0 0;
}

.host-reviews {
    gap: 2x;
    display: flex;
    flex-direction: column;
}

.host-reviews h2 {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    line-height: 19px;
    margin-bottom: 2px;
}

.host-reviews p {
    font-size: 12px;
    font-weight: 400;
    color: #C2C2C2;
}

#reviews-carousel .swiper-slide {
    border-radius: 12px;
    padding: 16px;
    height: 145px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: #1F1E24;
}

#reviews-carousel.swiper-wrapper {
    height: auto;
}

.reviews-container .all-reviews {
    border: 1px solid #807D8F;
    border-radius: 10px;
    padding: 8px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
}

.location-container {
    padding: 16px 0;
    border-bottom: 1px solid #2F2D36;
}

.location-header {
    gap: 8px;
    display: flex;
    flex-direction: column;
    padding-bottom: 8px;
}

.location-header h2 {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}

.reviews-header a {
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    text-align: right;
    flex-grow: 1;
}

.location-header h3 {
    font-size: 14px;
    font-weight: 400;
    color: #C2C2C2;
}

.payment-container {
    padding: 16px 0 85px 0;
}

.payment-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#event-payment {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.payment-content h2 {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}

.payment-card {
    display: flex;
    gap: 8px;
    align-items: center;
}

.payment-card h3 {
    font-size: 12px;
    color: #C2C2C2;
    font-weight: 400;
}

.cancel-container {
    border-top: 1px solid #2F2D36;
    padding: 16px 0;
    margin-top: 16px;
    padding-bottom: 55px;
}

.cancel-container h2 {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    padding-bottom: 4px;
}

.cancel-container p {
    font-size: 12px;
    font-weight: 400;
    color: #C2C2C2;
    line-height: 19px;
}

.attend-container {
    padding: 16px 16px 24px 16px;
    display: flex;
    align-items: center;
    background: #26242E;
    border-top: 1px solid #2F2D36;
}

.attend-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    gap: 2px;
}

.attend-info h2 {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
}

.attend-info p {
    font-size: 12px;
    font-weight: 500;
    color: #C2C2C2;
}

.attend-container a {
    color: #141318;
    background-color: #DAFF00;
    font-size: 14px;
    font-weight: 700;
    padding: 8px 24px;
    border-radius: 10px;
}

.attend-sticky {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 767px;
    z-index: 99;
}

.cover_image {
    width: 100%;
    height: 320px;
    object-fit: cover;
    border-radius: 8px;
}

#googleMap div {
    border-radius: 12px;
}